{% extends "base.html" %}
{% block content %}
    <h1>About Page</h1>
        <p>
            hello_world is a codecentric help forum for developers and hobbyist programmers of all skill levels to come together, collaborate, learn, and assist each other in their programming journeys.
            <br>
            <br>
            To get started collaborating with others, navigate to the register page. If you already have an account, login to get crackin'!
            <br>
            <br>
            <br>
            <br>
            <h4>We're working hard to add some new features to hello_world!</h4>
            <strong>Events calendar:</strong> Users can plan group discussions and view other upcoming events put on by fellow hello_world users. Users will be able to choose to have reminder emails sent to them about events they are interested in attending.
            <br>
            <br>
            <strong>stackUp:</strong> stackUp will be a section of the site specifically dedicated to posting coding challenges, such as data structure and algorithm-based coding tests.
            <br>
            <br>
            <strong>pairUp:</strong> One of the most important skills and helpful ways for aspiring developers to learn is working in teams. pairUp will serve as a post board, where users interested in doing group work or pair programming can find like-minded users and collaborate. 
            <br>
        </p>
{% endblock content %}
