{% extends "base.html" %}
{% block content %}
  <h2 class="mt-2 site-font">
    Recent Posts
  </h2>
    {% if posts %}
      {% for post in posts.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2 user-font user-font" href="{{ url_for('users.user_posts', username=post.author.username) }}">
                {{ post.author.username }}
              </a>
              <small class="text-muted">
                {{ post.date_posted.strftime('%m-%d-%Y') }}
              </small>
            </div>
            <h3>
              <a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">
                {{ post.title }}
              </a>
            </h3>
            <md-block class="article-content">
              {{ post.content }}
            </md-block>
            <div class="text-right">
              <small class="text-muted">
                <a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">
                  {{ post.replies | length }} replies
                </a>
              </small>
            </div>
          </div>
        </article>
        {% else %}
        <h5 class="article-title mt-4">No posts found</h5>
      {% endfor %}
    {% endif %}
    <div class="container">
      <div class="row justify-content-center">
      {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          {% if posts.page == page_num %}
            <a class="btn btn-secondary mb-4 site-font" href="{{ url_for('main.home', page=page_num) }}">
              {{ page_num }}
            </a>
          {% else %}
            <a class="btn btn-outline-secondary mb-4 site-font" href="{{ url_for('main.home', page=page_num) }}">
              {{ page_num }}
            </a>
          {% endif %}
        {% else %}
          ...
        {% endif %}
      {% endfor %}
      </div>
    </div>
{% endblock content %}
{% block popular_search %}
    <div class="col-md-4">
      {% if top_posts %}
      <div class="content-section-dark mt-3">
        <h3>Popular Posts</h3>
          {% for top_post in top_posts %}
          <article class="media md-content-section">
            <img class="rounded-circle article-img-small" src="{{ url_for('static', filename='images/' + top_post['image_file']) }}">
            <div class="media-body">
              <div class="article-metadata">
                <a href="{{ url_for('users.user_posts', username=top_post['username']) }}">
                  <small class="mr-2 user-font">
                    {{ top_post['username'] }}
                  </small>
                </a>
              </div>
              <h5>
                <a class="article-title" href="{{ url_for('posts.post', post_id=top_post['id']) }}">
                  {{ top_post['title'] }}
                </a>
              </h5>
              <div class="text-right">
                <small class="text-muted">
                  <p class="article-title">
                    {{ top_post['reply_count'] }} replies
                  </p>
                </small>
              </div>
            </div>
          </article>
          {% endfor %}
      </div>
      {% endif %}
      <footer class="footer pl-3">
        <div class="row">
          <div class="content-section-dark">
            <form class="form-inline" method="POST" action="{{ url_for('main.search') }}">
              {{ form.hidden_tag() }}
              <fieldset class="form-group">
                  <div class="form-group">
                    {% if form.keyword.errors %}
                        {{ form.keyword(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.keyword.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.keyword(class="form-control form-control-sm", placeholder=" Search") }}
                    {% endif %}
                  </div>
              </fieldset>
              <div class="form-group pl-3">
                  {{ form.submit(class="btn btn-secondary") }}
              </div>
            </form>
          </div>
        </div>
      </footer>
    </div>
{% endblock popular_search%}
