{% extends "base.html" %}
{% block content %}
  <article class="media content-section mt-3">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2 user-font" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%m-%d-%Y') }}</small>
        {% if post.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
      {% if current_user.is_authenticated %}
      <div class="text-right">
        <button type="button" class="btn btn-secondary btn-sm m-1" data-toggle="modal" data-target="#replyModal">Reply</button>
      </div> 
      {% endif %}
    </div>
  </article>

  
  {% for reply in post.replies %}
  <article class="media reply-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + reply.reply_author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2 user-font user-font" href="{{ url_for('users.user_posts', username=reply.reply_author.username) }}">{{ reply.reply_author.username }}</a>
        <small class="text-muted">{{ reply.date_posted.strftime('%m-%d-%Y') }}</small>
      </div>
      <p class="article-content">
        {{ reply.content }}
      </p>
    </div>
  </article>
  {% endfor %}
  <!-- Modal Reply-->
  <div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="replyModalLabel">Reply to Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="{{ url_for('posts.new_reply', post_id=post.id) }}">
          {{ form.hidden_tag() }}
          <fieldset class="form-group mr-4">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group ml-4">
              {{ form.content.label(class="form-control-label") }}
              {% if form.content.errors %}
                {{ form.content(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.content.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.content(class="form-control form-control-lg") }}
              {% endif %}
            </div>
          </fieldset>
          <div class="form-group float-right mr-4">
            {{ form.submit(class="btn btn-secondary") }}
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal Delete-->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer float-right mr-4">
          <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
